<div class="slider" *ngIf="slides">
  <ng-container *ngFor="let movie of slides; let movieIndex = index">
    <div class="slide" *ngIf="movieIndex === slideIndex" @slideFade>
      <div class="slide-bg">
        <img
          [src]="imagesBaseUrl + 'w1280' + movie.backdrop_path"
          [alt]="movie.title"
        />
      </div>
      <div class="slide-pane">
        <h2 class="title">{{ movie.original_title }}</h2>
        <div class="meta mb-4">
          <div class="rating mb-1">
            <i class="pi pi-star-fill"></i>
            <span>{{ movie.vote_average }}</span>
            <span>/10</span>
          </div>
          <div class="votes mb-1">
            <i class="pi pi-users"></i>
            <span>{{ movie.vote_count }}</span>
          </div>
          <div class="release-date">
            <i class="pi pi-calendar"></i>
            <span>{{ movie.release_date | date : 'yyyy' }}</span>
          </div>
        </div>
        <div class="description">{{ movie.overview }}</div>
      </div>
    </div>
  </ng-container>
</div>
